extends ../../templates/default
block vars
  -
    title = ""
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  .advertiser
    .case
      .advertiser__wrap.row
        .advertiser__img
          img(src="" alt="")
        .advertiser__content
          .advertiser__title Advertisers
          .advertiser__subtitle Grow your business with Olimob
          .advertiser__desc Personal solutions for each partner
          a.advertiser__btn.btn.--md.--bg-violet(href="") Get started

    .advertiser__figures
      .advertiser__figure
      .advertiser__figure
      .advertiser__figure


  .alert
    .case
      .alert__wrap.row
        .alert__title Direct advertiser with own services, products and apps. <br>5+ years of success with multiple verticals.
      
  .about
    .case
      .about__title Today Olimob is
      .about__list.row
        .about__item
          .about__icon
            img(src="" alt="")
          .about__text CPA network
        .about__item
          .about__icon
            img(src="" alt="")
          .about__text Media-buying <br>team
        .about__item
          .about__icon
            img(src="" alt="")
          .about__text Digital agency
        .about__item
          .about__icon
            img(src="" alt="")
          .about__text Over 200 successful projects with our partners

  .provide
    .case
      .provide__title We provide:
      .provide__list
        .provide__item
          .provide__elems
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Personal manager
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Anti-fraud system
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Stable platform
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Innovative promotion tools
        .provide__item
          .provide__elems
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text HQ Traffic from direct publishers
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Fast integration
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text Dedicated media buying team
            .provide__elem
              .provide__elem-icon
                img(src="" alt="")
              .provide__elem-text CPA, CPL, CPS Models


  .alert
    .case
      .alert__wrap.row
        .alert__title Would you like to get 24/4 dedicated manager
        a.alert__btn.btn.--md.--bg-white(href="") Fill the Form

  .counts
    .case
      .counts__wrap
        .counts__title #[u Olimob] in numbers
        .counts__list
          .counts__item
            .counts__value 1500
            .counts__desc Satisfied advertisers
          .counts__item
            .counts__value 8000
            .counts__desc Direct partners
          .counts__item
            .counts__value 2500+
            .counts__desc Active campaigns
          .counts__item
            .counts__value 2 000 000
            .counts__desc Monthly conversions

  .inventory
    .case
      .inventory__title Our inventory
      .inventory__subtitle We supply any type of traffic
      .inventory__list.row
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text Google Ads
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text Facebook
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text TikTok
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text Social media
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text DSP
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text Our own apps
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text In-app
        .inventory__item
          .inventory__icon
            img(src="" alt="")
          .inventory__text Direct publishers

      .inventory__figures
        .inventory__figure
        .inventory__figure
        .inventory__figure


  .alert
    .case
      .alert__wrap.row
        a.alert__btn.btn.--md.--bg-white(href="") Become an Advertiser

