.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "Gilroy", sans-sans;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn:before {
  z-index: -1;
  border-radius: 50px;
}
.btn.--bg-white {
  border-radius: 50px;
}
.btn.--bg-white:before {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
  background: #fff;
}
.btn.--bg-violet {
  color: #fff;
  border-radius: 50px;
}
.btn.--bg-violet:before {
  transition: 0.3s;
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out infinite;
  background-image: linear-gradient(120deg, #8E3AD6, #A189FF, #8E3AD6);
}
.btn.--sm {
  height: 48px;
  font-size: 18px;
  font-weight: 800;
}
.btn.--sm:hover {
  transform: scale(0.9);
}
.btn.--md {
  height: 60px;
  font-size: 18px;
  font-weight: 800;
}
.btn.--md:hover {
  transform: scale(0.9);
}

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}