include ../../pug/vars

footer.footer
  .case
    .footer__wrap.row
      a.footer__logo(href="")
         img(src="" alt="")
      .footer__copy
        p © Copyright 2022
        p All rights reserved
      .footer__links
        ul
          li
            a(href="") Cookies Policy
          li
            a(href="") Terms & Conditions
          li
            a(href="") Privacy Policy
      .footer__socials.socials
        .socials__list.row
          a.socials__item(href="" target="_blank")
          a.socials__item(href="" target="_blank")
          a.socials__item(href="" target="_blank")
          a.socials__item(href="" target="_blank")
      

      


