include ../../pug/vars

header.header
  .case
    .header__wrap.row
      a.header__logo(href="")
        img(src="" alt="")
      .header__nav
        ul
          li
            a(href="") About us
          li
            a(href="") Offers & Verticals
          li
            a(href="") Advertisers
          li
            a(href="") Contacts
      .header__btns.row
        a.header__btn.btn.--bg-violet.--sm(href="") Sign Up
        a.header__btn.btn.--bg-white.--sm(href="") Sign In
		
