include ../../pug/vars

header.header
  .case
    .header__inner
      a.header__logo(href="index.html")
        img(src="uploads/logo.svg" alt="")
      .header__ham
        span
        span
        span
    .header__wrap.row
      a.header__logo(href="index.html")
        img(src="uploads/logo.svg" alt="")
      .header__nav
        ul
          li
            a(href="index.html#intro") About us
          li
            a(href="index.html#offers") Offers & Verticals
          li
            a(href="advertiser.html") Advertisers
          li
            a(href="index.html#contacts") Contacts
      .header__btns.row
        a.header__btn.btn.--bg-violet.--sm(href="") Sign Up
        a.header__btn.btn.--bg-white.--sm(href="") Sign In
		
